body {
	margin:0;
	padding:0;
}

main {
	width: 80%;
	margin:0 auto;
}

aside {
	width: 80%;
	margin:0 auto;
	display:flex;
	flex-wrap: wrap;
}

footer {
	width: 100%;
}

/* align-wide対応 */

.alignwide {
    max-width: 70vw;
}
.alignfull {
    width: 100vw;
    margin-left: -3vw;
    margin-right: -3vw;
}

.content h2 {
	border-bottom: solid 1px rgba(0,0,0,0.5);
	border-left: solid 20px red;
	padding-left: 10px;
}